body {
	background: #fafafa;
	padding: 20px;
}
.fizzbuzz {
	h2 {
		margin-right: 10px;
	}
	.Fizz {
		color: #ecec61;
	}
	.Buzz {
		color: blue;
	}
	.FizzBuzz {
		color: green;
	}
}
.upload-file {
	.btn-primary {
		background: #5bc0de;
		border-color: #5bc0de;
	}
}
